*{
    margin: 0;
    padding: 0;
}

$color1: #005665;
$color2: #627B82;
$color3: #F1F1E6;
$font1: Verdana,Geneva,Tahoma,sans-serif;
/* Header */
.logo {
    font-size: 40px;
    margin: 20px;
    border: 2px solid #7E364F;
    background-color: rgba(51, 51, 51, 0.7);
    border-radius: 30px;
    padding: 10px;
    &:hover{
        transform: scale(1.2);
        transition: 0.7s;
    }
}
.barraNav {
    background-color: $color1;
}

.navItems {
    font-size: 30px;
}
/* Fin Header */
/* Body */
.fondo {
    background-color: $color2;
    min-height: 100vh;
}

h1 {
    text-align: center;
    font-size: 60px;
    color: $color3;
    padding-top: 20px;
    font-family: $font1;
}

/* Seccion Inicio */
.jumbotron {
    h2 {
        font-size: 50px;
        font-family: $font1;
        color: $color1;
    }
    p {
        font-size: 40px;
        font-family: $font1;
        color: $color1; 
        padding-left: 40px;
    }
}
.carouselSlides{
    width: 100%; 
}
.servicios{
    font-family: $font1;
    h2{
        text-align: center;
        color: #F1F1E6;
        font-size: 40px;
        padding-top: 50px;
    }
    h3{
        font-size: 35px;
        text-align: center;
        color: #333;
        padding-top: 20px;
    }
    p{
        font-size: 25px;
        text-align: center;
        padding-top: 30px;
        color: #F1F1E6;
        padding-left:30px;
        padding-right: 30px;
        text-shadow: 5px #333;
    }
}
.exteriores{
    border-radius: 5px solid #333;
    background-image: url(./multimedia/exteriores.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 20px;
    border-radius: 20px;
    
}
.estudio{
    border-radius: 5px solid #333;
    background-image: url(./multimedia/estudio.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    margin-top: 20px;
    border-radius: 20px;   
}
.objetivo{
    text-align: center;
    color: #F1F1E6;
    font-size: 35px;
    margin-bottom: 0px;
    padding: 30px;

}



/* Fin Seccion Inicio */
/* Seccion Productos */
.galeria {
    display: grid;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    padding: 30px;  
}
.imagen {
    background-color: #333;
    border: 2px solid #333;
    background-size: cover;
    background-position: center;
    &:hover{
        transform: scale(1.1);
        transition: 0.5s;
    }
}
.img1 {
    background-image: url(./multimedia/Dog1.jpg);
    
}
.img2 {
    background-image: url(./multimedia/Dog2.jpg);
    
}
.img3 {
    background-image: url(./multimedia/Dog3.jpg);
    
}
.img4 {
    background-image: url(./multimedia/Dog4.jpg);
    
}
.img5 {
    background-image: url(./multimedia/Dog5.jpg);
    
}
.img6 {
    background-image: url(./multimedia/Dog6.jpg);
    
}
.img7 {
    background-image: url(./multimedia/Dog7.jpg);
    
}
.img8 {
    background-image: url(./multimedia/Dog8.jpg);
    
}
.img9 {
    background-image: url(./multimedia/Dog9.jpg);
    
}
/* Fin Seccion Galería */
// Seccion Nosotros
.fondoNosotros{
    min-height: 100vh;
    background-image: url(./multimedia/fondo.jpg);
    background-size: cover;
    background-position: center;
    h1{
        background-color: $color2;
    }
    h2{
        color: $color3;
        font-size: 50px;
        padding-left: 40px;
        padding-top: 20px;
        font-family: $font1;
    }
    p{
        color: #79aab8;
        font-family: $font1;
        font-size: 40px;
        padding: 20px;
        margin-left: 20px;
        text-align: center;
        margin-bottom: 0;
    }
}
// Fin Seccion Nosotros
// Seccion Contacto
.fondoContacto{
    background-image: url(./multimedia/fondo.jpg);
    background-size:cover;
    background-position:center;
    p{
        color:$color3;
        font-size: 40px;
        padding: 20px;
        background-color: transparent;
        border-radius: 10px;
        margin-right: 20px;
    }
}
.formulario{
    margin-left: 30px;
    margin-bottom: 20px;
    label{
        color: $color3;
    }
}

/* Footer */
.footer{
    background-color: $color1 ;
    font-family: $font1 ;
    font-size: 30px ;
    color: $color3;
    text-align: center;
    a{
        :hover{
            transform:scale(1.5);
            transition: 0.7s;
        }
    }
    i{
        color: #994663;
        padding: 10px;
        font-size: 35px;
    }
}
// Fin Footer

// Medias Queries
// Pc de Escritorio
@media only screen and (min-width:769px) {

    .galeria {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(3, 500px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .exteriores{
        height: 600px;
        margin-right: 10%;
        margin-left: 10%;    
    }
    .estudio{
        height: 600px;
        margin-right: 10%;
        margin-left: 10%;   
    }
}
// Tablets
@media only screen and (min-width:501px) and (max-width:768px){
    .galeria {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 400px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .exteriores{
        height: 400px;
        margin-right: 0%;
        margin-left: 0%;
        border-radius: 0 ;    
    }
    .estudio{
        height: 400px;
        margin-right: 0%;
        margin-left: 0%; 
        border-radius: 0 ;   
    }
}
// Mobile
@media only screen and (max-width:500px){
    .galeria {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 300px);
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }
    .exteriores{
        height: 300px;
        margin-right: 0%;
        margin-left: 0%;
        border-radius: 0 ;    
    }
    .estudio{
        height: 300px;
        margin-right: 0%;
        margin-left: 0%; 
        border-radius: 0 ;   
    }
}


